PORT=5050
MARKET_DATA_WEBSOCKET_URL=http://nexotrade.local.com
KAFKA_BROKER_URL=localhost:9092
DB_HOST='localhost'
DB_USER='nexotrade'
DB_PASS='.....'
DB_NAME='trade_signals'
DB_PORT='3306'
JWT_SECRET=.....